@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  * {
    border-color: #e5e5e5; /* neutral-30 */
  }

  body {
    background-color: #fafafa; /* neutral-10 */
    color: #171717; /* neutral-100 */
  }
}
